.vscode/
*.a
*.o
*.tar.gz
*.zip
build/
config.mk
nbproject/
share/UnicodeData.txt
source/isalpha.c
source/iscntrl.c
source/isdigit.c
source/islower.c
source/isspace.c
source/istitle.c
source/isupper.c
test/boundary
test/kosme
test/malformed
test/overlong
